body{
    background-color: rgb(242, 242, 242);
}
.content{
    
    height: 300px;
    margin-top: 60px;
    margin-left: 74px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;

    

}

.p-box{
    height: 320px;
    width: 428px;
    background-color: rgba(243, 243, 243, 0.396);
    padding: 4PX;
    display: grid;
    grid-template-rows: 240px auto;
    grid-gap:10px;
}



@media (max-width: 1150px) {
    .content {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 650px) {
    .content {
      grid-template-columns: 1fr ;
    }
  }


