body{
    background-color: rgb(242, 242, 242);
}
.content{
    
    height: 300px;
    margin-top: 60px;
    margin-left: 74px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;

    

}

@media (max-width: 1150px) {
    .content {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 650px) {
    .content {
      grid-template-columns: 1fr ;
    }
  }

.p-box{
    height: 320px;
    width: 428px;
    background-color: rgba(243, 243, 243, 0.396);
    padding: 4PX;
    display: grid;
    grid-template-rows: 240px auto;
    grid-gap:10px;
}

.p-thumbnail{
 width: 100%;
 object-fit: cover;
 position: relative;

}

.time{
    background-color: rgba(0, 0, 0, 0.712);
    color: white;
    padding: 4px 6px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    position: absolute;
    bottom: 4px;
    right: 6px;

    
}
.p-creators-thumbnail{
    height: 240px;
    width: 430px;
    object-fit: cover;
    border-radius: 2px;

}
.p-author{
    /* background-color: lightpink; */
    display: grid;
    grid-template-columns: 50px auto;
    grid-gap:10px;
}

.p-channel-img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin: 8px 4px;
}

.p-text{
    /* background-color: aquamarine; */
    display: grid;
    grid-template-rows: 30px auto;
    grid-gap:4px;
    align-items: center;
    justify-content: start;
    
    
}

.p-title{
    
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-top: 8px;
    
    
}

.p-channelname{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin-top: 8px;
    line-height: 6px;
    color: rgb(99, 98, 98);
}