

.navbar{
    background-color: white;
    height: 55px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.youtube-logo{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.youtube-logo-icon{
    width: 100px;
    margin-left: 30px;
    display: flex;
    flex-shrink: 0;
    margin-right: 10px;
    
}

.search-section{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar{
    max-width: 360px;
    height: 36px;
    border: 1px solid;
    border-style: solid;
    border-color: rgba(201, 201, 201, 0.844);
    box-shadow: inset 0.2px 0.2px 2px rgba(0, 0, 0, 0.116);
    padding-left: 15px;
    min-width: 40px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    position: relative;
    display: flex;
    flex: 1;

}
.toolkit-search{
    background-color: rgba(36, 36, 36, 0.634);
    color: white;
    padding: 4px;
    position: absolute;
    margin-top: 10px;
    margin-left: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-radius: 2px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s;

}

.search-button:hover .toolkit-search{
    opacity: 1;
}

.toolkit-create{
    background-color: rgba(36, 36, 36, 0.631);
    color: white;
    padding: 4px;
    position: absolute;
    margin-top: 6px;
    margin-left: -6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-radius: 2px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s;

}
.upload:hover .toolkit-create{
    opacity: 1;
}
.search-button{
    height: 40px;
    width: 66px;
    margin-left: -1px;
    margin-right: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(201, 201, 201, 0.844);
    cursor: pointer;

    
}

.search-icon{

    height: 25px;
    object-fit: cover;
    

}





.feature{
    width: 166px;
    margin-right: 20px;
    margin-left: 20px;
    display: inline-block;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;

}

.upload{
    position: relative;
    
}

img{
    width: 24px;
    object-fit: cover;
    color: rgba(0, 0, 0, 0.89);
    
}
.my-channel{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    object-fit:cover;
}
.notifications{
    position: relative;
}
.notfy{
    background-color: rgb(188, 6, 6);
    color: white;
    display: flex;
    padding: 1px 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    position: absolute;
    top: -3px;
    right: -6px;
}

.mic{

    background-color: rgb(236, 236, 236);
    padding: 8px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.voice-serch-icon{
    height: 24px;
    position: relative;
}

.toolkit-mic{
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.56);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    border-radius: 2px;
    padding: 4px;
    margin-top: 74px;
    pointer-events: none;
    position: absolute;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.15s;
}

.mic:hover .toolkit-mic{ 
    opacity: 1;


}